#content-4{
    background:#fff;
    margin-top: 3rem;
}
#content-4 .section-heading-5{
    margin-top: 3rem;
    margin-bottom: 4rem;
}
#content-4 .text-green-dark p {
    font-size: 15px !important;

}
#content-4 .text-green-dark{
    text-align: center;
}
#area3{
    background-size: 100% 100%;
    min-height: 30rem;
    
}
#area3 .content{
    margin-top: 10rem;
    text-align: right;
}
.wave{
    vertical-align: middle;
    float: left;
    position: relative;
    top: 126px;
}
.btn-primary-gradient2{
    -webkit-appearance: none;            
    background: linear-gradient(50deg, rgb(158, 199, 69) 25%, rgb(60, 86, 57)) !important;            
       
   }
   
   .btn-primary-gradient2:hover{
    animation-name: gradient;
    -webkit-animation-name: gradient;
    animation-duration: 2s;
    -webkit-animation-duration: s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
        
    }
    @-webkit-keyframes gradient{
       from{background-position: 0%};
        to {background-position: 100%} 
        
    }
    @keyframes gradient{
       from{background-position: 0%};
        to {background-position: 100%} 
        
    }    
    #capa{
        background-size: 100% 60%;
        background: radial-gradient(circle at 80% 17%, rgb(129, 135, 2), rgb(55, 62, 0) 25%, rgb(4, 4, 0) 85%) !important;
    }   
